<div class="d-flex">
  <!-- Sidebar -->
  <aside class="sidebar ">
    <!-- Logo -->
    <div class="sidebar-logo">
      <div class="logo-icon">
        <i class="fa-solid fa-wrench"></i>
      </div>
      <span>صلحلي</span>
    </div>

    <!-- Nav Items -->
    <nav class="nav-section">
      <a
        *ngFor="let item of navItems"
        [routerLink]="item.route"
        routerLinkActive="active"
        class="nav-item"
      >
        <span>{{ item.label }}</span>
        <i [class]="item.icon"></i>
      </a>
    </nav>

    <!-- Footer -->
    <div class="sidebar-footer text-end">
      <div class="user-info">
        <div class="user-avatar">{{ avatarLetter }}</div>
        <div class="user-details">
          <div class="name">{{ technicianName }}</div>
          <div class="role text-end">فني</div>
        </div>
      </div>

      <button class="w-100 border-1 rounded-2 btn btn-danger" (click)="logout()">
        <span>تسجيل الخروج</span>
        <i class="fa-solid fa-right-from-bracket me-2"></i>
      </button>
    </div>
  </aside>

  <!-- Main Content -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
