.navbar {
  min-height: 72px;
  border-bottom: 1px solid #e5e7eb;
  background: #eee !important;
}

.logo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-brand {
  font-weight: 800 !important;
}

.nav-link {
  color: #6b7280 !important;
  font-weight: 500;
  padding: 10px 16px !important;
  transition: 0.3s;
}

.nav-link:hover {
  color: #111827 !important;
}
.nav-link:hover {
  transition: all 0.3s ease;
  transform: translateY(-5px);
}

.nav-link.active {
  color: #0a0f1e !important;
  background-color: #f3f4f6;
  border-radius: 14px;
  font-weight: 600;
}

.log {
  font-weight: bold;
  border-radius: 14px;
  padding-inline: 18px;
}
.log:hover {
  background-color: #fff;
}
.reg {
  background-color: #e8620a;
  color: white;
  font-weight: bold;
  border-radius: 14px;
  padding-inline: 18px;
}
.reg:hover {
  background-color: #ff6600;
}
