<div
  class="msg-row"
  [class.msg-row-mine]="message.isRead"
  [class.msg-row-theirs]="!message.isRead"
>
  <div class="msg-bubble" [class.msg-bubble-mine]="message.isRead">

    <!-- Text -->
    <p class="msg-text" *ngIf="message.messageType === 0">
      {{ message.content }}
    </p>

    <!-- Image -->
    <img
      *ngIf="message.messageType === 1"
      [src]="message.attachmentUrls"
      class="msg-image"
    />

    <!-- Voice -->
    <audio
      *ngIf="message.messageType === 2"
      [src]="message.attachmentUrls"
      controls
      class="msg-audio"
    ></audio>

    <!-- Time + Read -->
    <div class="msg-meta">
      <small class="msg-time">{{ message.sentAt | date: 'shortTime' }}</small>
      <i
        class="fa-solid fa-check-double msg-read-icon"
        *ngIf="message.isRead && message.isRead"
      ></i>
    </div>
  </div>
</div>
